/* CSS Reset */


img {
    max-width: 100%;
}

body {
    background-color: silver;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 0 2px rgb(165, 163, 163);
}

.welcome {
    background-color: black;
    padding-bottom: 10px;
    padding-top: 5px;
}

.feature p {
    color: black;
}

.feature h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #B60B16;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.feature h3 {
    color: black;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.75em;
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.0em;
    color: white; 
    text-align: center;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
    font-size: .75em;
    font-weight: lighter;
    padding-left: 15px;
    padding-right: 15px;
}

.feature {
    background-color: silver;
    margin-top: 0px;
    padding-bottom: 10px;
}

.contact {
    background-color: black;
}

.contact p {
    text-align: center;
}

/* Mobile Styles */


.tablet {
    display: none;
}

.desktop {
    display: none;
}

nav {
    background-color: #B60B16;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    color:#D3D3D3;
    font-size: 1.0em;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0;
    border: 1px solid rgb(240, 232, 235);
}

nav li a:hover {
    background-color: #D3D3D3;
    color: black;
}

.tab {
    display: none;
}

.team p {
    color:black;
}

section, aside {
    display: none;
}

.mobile p {
    color: black;
    text-align: center;
    font-size: .75em;
    font-weight: bold;
}

#contact {
    text-align: center;
  }

footer {
    background-color: #B60B16;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;  
    padding-top: 2px;
    padding-bottom: 5px
}

footer a {
    color:  rgb(240, 232, 235);
    text-decoration: none;
  }

/* Tablet Styles */

@media only screen and (min-width: 620px) {


    .container {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    .tablet p {
        color: black;
        text-align: center;
        font-size: 1.0em;
        font-weight: bold;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        padding: 10px 20px;
        margin: 5px 5px;
        border: 2px solid rgb(240, 232, 235);
        border-radius: 5px;
    }

    nav li a {
        color:#D3D3D3;
        font-size: 1.0em;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 5px;
        border: 1px solid rgb(240, 232, 235);
    }
    
    nav li a:hover {
        background-color: #B60B16;
        color: black;
    }

    table {
      width: 100%;    
    }

    td {
        height: 300px;
    }

}  

/* Desktop Styles */

@media only screen and (min-width:1024px) {

    

    .container {
        width: 980px;
        margin-left: auto;
        margin-right: auto;
    }
     nav li a {
         margin: 10px 30px;
         border: 2px solid rgb(240, 232, 235);

     }
     
     nav li a {
        display: block;
        color:#D3D3D3;
        font-size: 2.0em;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 40px;
        background-color: silver;
        border: 1px solid black;
        color: black
    }
    
    nav li a:hover {
        background-color: black;
        color:silver;
        border: 1px solid silver;
    }
     .tablet {
         display: none;
     }

     .desktop {
        display: block;
    }

    .desktop p {
        color: black;
        text-align: center;
        font-size: .75em;
        font-weight: bold;
    }

    h1 {
        font-size: 2.0em;
    }

    .welcome h2 {
        font-size: 1.5em;
    }

    .feature h2 {
        font-size: 3.0em;
    }

    aside {
        grid-column: 1 / span 3;
        font-size: 2.5em;
    }

    .iframe-container {
        align-content: center;
        padding-left: 200px;
    }

}
